html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font: 1rem/1.35 Helvetica, sans-serif;
}
.shop {
  margin: 20px auto;
  max-width: 600px;
}
.shop__add form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop__add input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #999;
  outline: none;
  color: #666;
}
#shopName {
/*margin-right: 20px;*/
  flex:1;
}
#shopCost {
  width: 80px;
}
.shop__buy {
  padding: 5px 15px;
  margin-left: 50px;
  border: none;
  background: #d63031;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}


.shop__info {
  margin-top: 20px;
  padding: 20px 20px 10px;
  border: 1px solid #999;
}
.shop__item {
  display: flex;
  padding-bottom: 5px;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.item__count {
  margin-left: auto;
  margin-right: 20px;
  font-size: 14px;
  color: #666;
}
.item__price {
  font-weight: bold;
}
.item__price span {
  font-size: 14px;
  font-weight: normal;
}
.item__remove {
  margin-left: 20px;
  padding: 0 5px;
  background: #e74c3c;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
}

.total {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}
.total span {
  font-weight: bold;
}